force-app/main/default/flows/Change_project_state.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Project Email Alert</description>
        <name>EmailAlert</name>
        <label>EmailAlert</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tomaskammann99@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>EmailAlert</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>checkHoursCovered</name>
        <label>checkHoursCovered</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>EmailAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not covered</defaultConnectorLabel>
        <rules>
            <name>Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RolesComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RolesQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RolesQuantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RolesComplete__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>changeProjectStatus</targetReference>
            </connector>
            <label>Covered</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsProjectStartDateToday</name>
        <label>IsProjectStartDateToday?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formuladate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkHoursCovered</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>formuladate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Change project state {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change project state</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>changeProjectStatus</name>
        <label>changeProjectStatus</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsProjectStartDateToday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-10</startDate>
            <startTime>16:40:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola! Esta es una alerta de mail para avisarte que un proyecto llegó a su fecha de inicio sin contar con los recursos necesarios, por favor, revise la situación !!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Email Alert&lt;/p&gt;</text>
    </textTemplates>
</Flow>
