force-app/main/default/flows/Refresh_Covered_Hours_for_Proyect_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_covered_hours</name>
        <label>Set covered hours</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CoveredHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Role.Hours_Covered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CoveredHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Role_record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Refresh Covered Hours for Proyect Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refresh Covered Hours for Proyect Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Role</name>
        <label>Get Project Role</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_covered_hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Role__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hours_Covered__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Role_record</name>
        <label>Update Project Role record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hours_Covered__c</field>
            <value>
                <elementReference>CoveredHours</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Role__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Role</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Resource__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CoveredHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
